h1 {
  font-family: sans-serif;
  font-weight: 100;
}
.sec {
  text-align: center;
  font-family: sans-serif;
  border: 1px solid rgb(255, 255, 255);
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.cool {
  padding: 20px;
  margin: 10px;
}

.fade {
  opacity: 0.2;
  font-weight: bold;
}

.fade:hover {
  opacity: 1;
}

.color {
  background: lemonchiffon;
}

.color:hover {
  background: lightcoral;
}

.grow {
  background: lightgray;
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.5);
  transform: scale(1.1);
  background: rgb(14, 13, 13);
  color: lightgray;
}

.shrink {
  background: lightpink;
}

.shrink:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.3);
  transform: scale(0.5);
}
