body {
  display: block;
}
nav {
  background-color: rgb(0, 2, 1);
}

ul {
  list-style-type: none;
  text-align: right;
  margin: 0;
}

li {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  display: inline-block;
  text-decoration: none;
}

img {
  float: left;
  width: 60px;
  padding-left: 10px;
}
h1 {
  color: rgb(93, 31, 29);
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bolder;
  text-align: left;
  margin: 0px;
}

h3 {
  font-family: sans-serif;
  font-weight: bolder;
  text-align: left;
  margin: 0px;
}

p {
  font-family: sans-serif;
}

footer {
  padding-top: 300px;
  text-align: center;
}

.character {
  padding: 50px;
}
.about {
  padding: 50px;
}
.help {
  padding: 50px;
}
.ironman {
  float: right;
  width: 300px;
  position: scroll;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  h1 {
    color: rgb(20, 14, 99);
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
    margin: 0px;
  }

  .ironman {
    float: left;
    width: 300px;
    position: scroll;
  }
}

@media screen and (min-width: 320px) and (max-width: 680px) {
  h1 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
    margin: 0px;
  }

  p {
    color: rgb(93, 31, 29);
    font-family: sans-serif;
  }

  .ironman {
    float: initial;
    align-self: center;
    width: 150px;
    position: scroll;
  }
}
