body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section {
  display: flex;
  flex-direction: row;
  border: 3px solid rgb(0, 0, 0);
}
div {
  background-color: rgb(225, 65, 100);
  text-align: center;
}

.sec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec2 {
  display: flex;
  grid-template-columns: 4;
}
.div1 {
  width: 3px;
  padding: 3px;
}
