@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

section {
  display: inline-block;
  position: static;
  background: aqua;
  font-family: montserrat;
}

aside {
  display: inline-block;
  background: rgb(255, 0, 98);
  color: white;
  font-family: montserrat;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  padding-top: 30px;
  margin: 0;
}

.email {
  width: 90%;
}

.password {
  width: 90%;
}
.button {
  width: 90%;
}

.fb {
  width: 30px;
}
