section {
  background: aqua;
  @import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
  font-family: montserrat;
}

aside {
  background: rgb(255, 0, 98);
  @import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
  font-family: montserrat;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  padding-top: 30px;
  margin: 0;
}
