.sectiongridarea {
  border: 1px solid black;
  background-color: gainsboro;
  display: grid;
  grid-gap: 10px 50px;
  grid-template-rows: 1fr 4fr 2fr 1fr;
  grid-template-columns: repeat(4, 1fr);

  grid-template-areas:
    "vanilla vanilla vanilla vanilla"
    "main main main article"
    "main main main article"
    "footer footer footer footer";
  /*  *You cannot use the same line twice/
  /* The names must be always aligned in the same columns */
  /* the number of columns or rows must be the same number as written at grid-template tag  */
}

.greenbox {
  grid-area: vanilla;
  background-color: green;
}

.purplebox {
  grid-area: main;
  background-color: purple;
}

.pinkbox {
  grid-area: article;
  background-color: pink;
}

.bluebox {
  grid-area: footer;
  background-color: blue;
}
